:root {
  /* 要素 */
  --color-pink: #FF87C5;
  --color-white: #FFFFFF;
  --color-lightblue: #7AF2FF;

  /* アプリ全体 */
  --app-background: #FFFFFF;
  --app-doodle-screen: #FFB7DC;

  /* アニメーション */
  --anim-light: color-mix(in srgb, currentColor, #FFFFFF);
  --anim-pinkish-white: #FFD9EC;
  --anim-darken: rgb(178 178 178 / 0.5);
}