name: Cargo Build (Wasm)

on:
  workflow_call:
    inputs:
      mode:
        required: false
        type: string
        default: "dev"

jobs:
  build-wasm:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown

      - name: Install wasm-pack
        run: |
          curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Build Rust Wasm
        working-directory: ./pwa/features/face-editing/wasm
        run: |
          if [ "${{ inputs.mode }}" = "release" ]; then
            wasm-pack build --release --target web
          else
            wasm-pack build --dev --target web
          fi
