name: Development Build

on:
  push:
    branches:
      - main
  workflow_call:
    inputs:
      mode:
        description: "Build mode: dev or release"
        required: false
        default: "dev"

jobs:
  cargo:
    uses: ./.github/workflows/cargo.yml
    with:
      mode: ${{ inputs.mode }}

  vite:
    needs: cargo
    uses: ./.github/workflows/vite.yml
    with:
      mode: ${{ inputs.mode }}