name: Release Build

on:
  release:
    types: [published]

jobs:
  cloudflare-deploy:
    runs-on: ubuntu-latest

    steps:
      # Cloudflare Pages デプロイ
      - name: Deploy to Cloudflare Pages
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.CLOUDFLARE_API_TOKEN }}" \
            -H "Content-Type: application/json" \
            https://api.cloudflare.com/client/v4/accounts/${{ secrets.CLOUDFLARE_ACCOUNT_ID }}/pages/projects/${{ secrets.CLOUDFLARE_PROJECT_NAME }}/deployments